{
  "manifest_version": 3,
  "name": "Stylix Theme",
  "version": "1.0",

  "browser_specific_settings": {
    "gecko": {
      "id": "theme@stylix.nix-community.github.io"
    }
  },

  "theme": {
    "colors": {
      "background_tab": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "background_tab_inactive": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "background_tab_incognito": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "background_tab_incognito_inactive": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "bookmark_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "button_background": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "button_background_active": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "button_background_hover": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "frame": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "frame_inactive": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "frame_incognito": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "frame_incognito_inactive": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "icons": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "icons_attention": [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
      "ntp_background": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "ntp_card_background": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "ntp_header": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "ntp_link": [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
      "ntp_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "omnibox_background": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "omnibox_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "popup": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "popup_border": [0, 0, 0, 0],
      "popup_highlight": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "popup_highlight_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "popup_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "sidebar": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "sidebar_highlight": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "sidebar_highlight_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "sidebar_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "tab_background_separator": [0, 0, 0, 0],
      "tab_background_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "tab_background_text_inactive": [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}],
      "tab_background_text_incognito": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "tab_background_text_incognito_inactive": [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}],
      "tab_line": [0, 0, 0, 0],
      "tab_loading": [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
      "tab_selected": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "tab_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "toolbar": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "toolbar_bottom_separator": [0, 0, 0, 0],
      "toolbar_button_icon": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "toolbar_field": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "toolbar_field_border": [0, 0, 0, 0],
      "toolbar_field_border_focus": [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
      "toolbar_field_focus": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "toolbar_field_highlight": [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
      "toolbar_field_highlight_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "toolbar_field_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "toolbar_field_text_focus": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "toolbar_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "toolbar_top_separator": [0, 0, 0, 0],
      "toolbar_vertical_separator": [0, 0, 0, 0]
    }
  }
}
