@-moz-document url-prefix("about:") {
  :root {
    background: #{{base00-hex}} !important;
    color: #{{base05-hex}} !important;
    --background-color-box-info: #{{base01-hex}} !important;
    --background-color-box: #{{base01-hex}} !important;
    --background-color-canvas: #{{base00-hex}} !important;
    --background-color-information: #{{base01-hex}} !important;
    --background-color-warning: #{{base01-hex}} !important;
    --border-color: transparent !important;
    --button-text-color: #{{base05-hex}} !important;
    --card-background-color: #{{base01-hex}} !important;
    --color-accent-primary: #{{base0D-hex}} !important;
    --fieldpair-text-color: #{{base04-hex}} !important;
    --icon-color-warning: #{{base0A-hex}} !important;
    --icon-color: #{{base05-hex}} !important;
    --icon-info-color: #{{base05-hex}} !important;
    --input-text-background-color: #{{base01-hex}} !important;
    --input-text-color: #{{base05-hex}} !important;
    --message-bar-background-color: #{{base01-hex}} !important;
    --page-nav-button-text-color-selected: #{{base0D-hex}} !important;
    --table-background-color: #{{base00-hex}} !important;
    --table-header-background-color: #{{base01-hex}} !important;
    --table-row-background-color-alternate: #{{base01-hex}} !important;
    --text-color: #{{base05-hex}} !important;
  }
}

@-moz-document url("about:newtab"), url("about:home") {
  :root {
    --newtab-background-card: #{{base01-hex}} !important;
    --newtab-background-color-secondary: #{{base01-hex}} !important;
    --newtab-background-color: #{{base00-hex}} !important;
    --newtab-primary-action-background: #{{base0D-hex}} !important;
  }
}
